<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego con Phaser y Socket.IO</title>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/phaser/phaser.min.js"></script>
    
    <link rel="stylesheet" href="/css/game-terrain.css">
    
    <script defer src="/js/socket-client.js"></script>
    <script defer src="/js/game.js"></script>
</head>
<body>
    <div id="container">
        <img id="background" src="/assets/game_terrain.png" alt="Fondo del juego">
        <div id="phaser-game"></div>
    </div>
</body>
</html>
